DOCKER_REGISTRY_PASSWORD=xxxxxxxxxxxxxxx
MINIO_ROOT_PASSWORD=xxxxxxxxxxxxxxxx
CONSUL_AGENT_TOKEN_SECRET=xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx
VAULT_CONSUL_TOKEN_SECRET=xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx
NOMAD_CONSUL_TOKEN_SECRET=xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx
TAILSCALE_AUTH_KEY=tskey-auth-xxxxxxxxxxxxxxxxx
