[Unit]
Description=Fabio Load Balancer
After=network-online.target

[Container]
ContainerName=fabio
Image=docker.io/fabiolb/fabio:latest
PublishPort=9999:9999
PublishPort=9998:9998
Network:host
Environment=FABIO_REGISTRY_CONSUL_ADDR=127.0.0.1:8500
Environment=FABIO_REGISTRY_CONSUL_TOKEN={{ fabio_consul_token }}

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
