datacenter = "localstack"
node_name = "raspberry"

data_dir = "/opt/consul"
client_addr = "0.0.0.0"
bind_addr = "0.0.0.0"

server = false

retry_join = ["{{ consul_client_server_address }}"] 

enable_local_script_checks = true

acl {
  tokens {
    agent = "{{ consul_client_server_agent_token_secret }}"
    default = "{{ consul_client_server_agent_token_secret }}"
  }
  
  default_policy = "deny" 
  down_policy = "deny"
}
