NOMAD_TOKEN=xxxxxx-xxx-xxx-xxxxxx-xxxxxxx
NOMAD_ADDR=http://localstack.local:4646
VAULT_TOKEN=xxxxxx-xxx-xxx-xxxxxx-xxxxxxx
VAULT_ADDR=http://localstack.local:8200
DOCKER_USER=localstack
DOCKER_PASSWORD=xxxxxxxxxx
DOCKER_REGISTRY=localstack.local:5000
