# Nomad credentials.
NOMAD_TOKEN=xxxxxx-xxx-xxx-xxxxxx-xxxxxxx
NOMAD_ADDR=http://localstack.local:4646

# Consul credentials.
CONSUL_HTTP_TOKEN=xxxxxx-xxx-xxx-xxxxxx-xxxxxxx
CONSUL_HTTP_ADDR=http://localstack.local:8500

# Vault credentials.
VAULT_TOKEN=xxxxxx-xxx-xxx-xxxxxx-xxxxxxx
VAULT_ADDR=http://localstack.local:8200
VAULT_UNSEAL_KEY_1=xxxxxx-xxxxx-xxxxx-xxxxxxx
VAULT_UNSEAL_KEY_2=xxxxxx-xxxxx-xxxxx-xxxxxxx
VAULT_UNSEAL_KEY_3=xxxxxx-xxxxx-xxxxx-xxxxxxx

# Docker registry credentials.
#  daemon.json will be configured to allow insecure host.
DOCKER_USER=localstack
DOCKER_PASSWORD=xxxxxxxxxx
DOCKER_REGISTRY=localstack.local:5000

# Minio credentials.
MINIO_ENDPOINT=http://orangepirv2.local:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=xxxxxxxxxxxxx
