datacenter = "localstack"
data_dir   = "/opt/nomad/data"
plugin_dir = "/usr/bin"
bind_addr  = "0.0.0.0" 

log_level = "DEBUG"

# Used by the agent to find and join the cluster via Serf.
retry_join = [
  "{{ nomad_client_server_address }}:4647"
]

acl {
  enabled = true
}

consul {
  address = "127.0.0.1:8500" # NB: Needs to be a local consul agent
  token   = "{{ nomad_client_server_consul_token_secret }}"
}

vault {
  enabled         = true
  address = "http://{{ nomad_client_server_address }}:8200"
}

client {
  enabled = true

  options = {
    "driver.denylist" = "docker"
  }

  reserved {
    cpu    = 500
    memory = 512
    disk   = 10240
  }

  cni_path = "/opt/cni/bin"
  cni_config_dir = "/opt/cni/config"

}

server {
  enabled = false
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "nomad-driver-podman" {
  config {
    volumes {
       enabled = true
       selinuxlabel = "z"
    }
  }
}
